<!DOCTYPE html>
<html dir="ltr" lang="en"><head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<meta name="viewport" content="width=device-width">
<title>WEB CONTROL</title>
<link rel="stylesheet" type="text/css" href="r.css">
<script src="r.js" type="text/javascript"></script>
</head>
<body>
<div id="shadow-two">
<div id="page">

<div id="title"><div class="right">WEB CONTROL</div><span id="cooler"> </span></div>
<div id="menu">
<a href="/">Main</a>
</div>
<div id="menu">
<a href="/conf.html">Settings</a>
</div>
<div id="menu">
<a href="/hw.html">HW</a>
</div>

<form method="post" action="/" name="relay">
<div id="content">
<h3><img id="myImage" src="/cgi/xport?act=preview" width=800 height=480></img></h3>

<fieldset>
<table border="0" align="center">
<tbody>
<tr><td> </td><td colspan="2" align="center"></td></tr>  

<tr><td></td><td colspan="2" align="center"></td></tr>  
<tr><td>  </td><td id="" style="color: rgb(0, 0, 0);"></td><td>

<input type="button" name="rb2n" onclick="newAJAXCommand('/cgi/xport?act=set&ctrl=focus');" value="FOCUS">
<input type="button" name="rb2n" onclick="newAJAXCommand('/cgi/xport?act=set&ctrl=take');" value="TAKE">
<input type="button" name="rb2n" onclick="newAJAXCommand('/cgi/xport?act=set&ctrl=startvid');" value="Start video rec">
<input type="button" name="rb2n" onclick="newAJAXCommand('/cgi/xport?act=set&ctrl=stopvid');" value="Stop video rec">
<input type="button" name="rb2n" onclick="newAJAXCommand('/cgi/xport?act=set&ctrl=zoomminus');" value="-">
<input type="button" name="rb2n" onclick="newAJAXCommand('/cgi/xport?act=set&ctrl=zoomplus');" value="+">
</td><td></td></tr>

<tr><td></td><td colspan="2" align="center">Focus Mode</td></tr>  
<tr><td>  </td><td id="o-fm" style="color: rgb(0, 0, 0);">???</td><td>
<select name="r-fm" id="r-fm" onchange="newAJAXCommand('/cgi/xport?act=set&ctrl=fm&val='+this.selectedIndex);">
</select>
</td><td></td></tr>

<tr><td></td><td colspan="2" align="center">PM</td></tr>  
<tr><td>  </td><td id="o-pm" style="color: rgb(0, 0, 0);">???</td><td>
<select name="r-pm" id="r-pm" onchange="newAJAXCommand('/cgi/xport?act=set&ctrl=pm&val='+this.selectedIndex);">
</select>
</td><td></td></tr>

<tr><td></td><td colspan="2" align="center">ISO</td></tr>  
<tr><td>  </td><td id="o-iso" style="color: rgb(0, 0, 0);">???</td><td>
<select name="r-iso" id="r-iso" onchange="newAJAXCommand('/cgi/xport?act=set&ctrl=iso&val='+this.selectedIndex);">
</select>
</td><td></td></tr>

<tr><td></td><td colspan="2" align="center">Shutter</td></tr>  
<tr><td>  </td><td id="o-shutter" style="color: rgb(0, 0, 0);">???</td><td>
<select name="r-shutter" id="r-shutter" onchange="newAJAXCommand('/cgi/xport?act=set&ctrl=shutter&val='+this.selectedIndex);">
</select>
</td><td></td></tr>

<tr><td></td><td colspan="2" align="center">Aperture</td></tr>  
<tr><td>  </td><td id="o-aperture" style="color: rgb(0, 0, 0);">???</td><td>
<select name="r-aperture" id="r-aperture" onchange="newAJAXCommand('/cgi/xport?act=set&ctrl=aperture&val='+this.selectedIndex);">
</select>
</td><td></td></tr>

<tr><td></td><td colspan="2" align="center">EV</td></tr>  
<tr><td>  </td><td id="o-ev" style="color: rgb(0, 0, 0);">???</td><td>
<select name="r-ev" id="r-ev" onchange="newAJAXCommand('/cgi/xport?act=set&ctrl=ev&val='+this.selectedIndex);">
</select>
</td><td></td></tr>

<tr><td></td><td colspan="2" align="center">WB</td></tr>  
<tr><td>  </td><td id="o-wb" style="color: rgb(0, 0, 0);">???</td><td>
<select name="r-wb" id="r-wb" onchange="newAJAXCommand('/cgi/xport?act=set&ctrl=wb&val='+this.selectedIndex);">
</select>
</td><td></td></tr>

<tr><td></td><td colspan="2" align="center">JPEG Quality</td></tr>  
<tr><td>  </td><td id="o-jq" style="color: rgb(0, 0, 0);">???</td><td>
<select name="r-jq" id="r-jq" onchange="newAJAXCommand('/cgi/xport?act=set&ctrl=jq&val='+this.selectedIndex);">
</select>
</td><td></td></tr>

</tbody></table>
</fieldset>
</div>
</form>


<script type="text/javascript">
<!--
  function updateImage() {
    var image = new Image();
    image.onload = function() {
      document.getElementById('myImage').src = image.src;
      setTimeout(updateImage, 333); // îáíîâëÿåì èçîáðàæåíèå ÷åðåç 0.33 ñåêóíäó ïîñëå çàãðóçêè
    };
    image.src = "/cgi/xport?act=preview&renew" + new Date().getTime(); // äîáàâëÿåì ñëó÷àéíûé ïàðàìåòð, ÷òîáû èçîáðàæåíèå íå êýøèðîâàëîñü áðàóçåðîì
  }

  setTimeout(updateImage, 500); // íà÷èíàåì îáíîâëÿòü èçîáðàæåíèå ÷åðåç .5 ñåêóíäó

function loadlists(xmlData)
{
  var selectElement = document.getElementById("r-pm");
  var options = getXMLValue(xmlData, 'o-pm_lst').split(";");
    options.forEach(function(option) {
      var optionElement = document.createElement("option");
      optionElement.textContent = option;
      selectElement.appendChild(optionElement);
    });

  var selectElement = document.getElementById("r-fm");
  var options = getXMLValue(xmlData, 'o-fm_lst').split(";");
    options.forEach(function(option) {
      var optionElement = document.createElement("option");
      optionElement.textContent = option;
      selectElement.appendChild(optionElement);
    });


  var selectElement = document.getElementById("r-ev");
  var options = getXMLValue(xmlData, 'o-ev_lst').split(";");
    options.forEach(function(option) {
      var optionElement = document.createElement("option");
      optionElement.textContent = option;
      selectElement.appendChild(optionElement);
    });

  var selectElement = document.getElementById("r-iso");
  var options = getXMLValue(xmlData, 'o-iso_lst').split(";");
    options.forEach(function(option) {
      var optionElement = document.createElement("option");
      optionElement.textContent = option;
      selectElement.appendChild(optionElement);
    });

  var selectElement = document.getElementById("r-aperture");
  var options = getXMLValue(xmlData, 'o-aperture_lst').split(";");
    options.forEach(function(option) {
      var optionElement = document.createElement("option");
      optionElement.textContent = option;
      selectElement.appendChild(optionElement);
    });

  var selectElement = document.getElementById("r-shutter");
  var options = getXMLValue(xmlData, 'o-shutter_lst').split(";");
    options.forEach(function(option) {
      var optionElement = document.createElement("option");
      optionElement.textContent = option;
      selectElement.appendChild(optionElement);
    });

  var selectElement = document.getElementById("r-jq");
  var options = getXMLValue(xmlData, 'o-jq_lst').split(";");
    options.forEach(function(option) {
      var optionElement = document.createElement("option");
      optionElement.textContent = option;
      selectElement.appendChild(optionElement);
    });

  var selectElement = document.getElementById("r-wb");
  var options = getXMLValue(xmlData, 'o-wb_lst').split(";");
    options.forEach(function(option) {
      var optionElement = document.createElement("option");
      optionElement.textContent = option;
      selectElement.appendChild(optionElement);
    });

}

function updateStatus(xmlData) 
{
  var mainstat = document.getElementById('content').style.content;
  if(!xmlData)
  {
    mainstat = 'none';
    return;
  }
  mainstat = 'inline';
  document.getElementById('o-fm').innerHTML = (getXMLValue(xmlData, 'o-fm'));
  document.getElementById('o-pm').innerHTML = (getXMLValue(xmlData, 'o-pm'));
  document.getElementById('o-iso').innerHTML = (getXMLValue(xmlData, 'o-iso'));
  document.getElementById('o-shutter').innerHTML = (getXMLValue(xmlData, 'o-shutter'));
  document.getElementById('o-aperture').innerHTML = (getXMLValue(xmlData, 'o-aperture'));
  document.getElementById('o-ev').innerHTML = (getXMLValue(xmlData, 'o-ev'));
  document.getElementById('o-jq').innerHTML = (getXMLValue(xmlData, 'o-jq'));
  document.getElementById('o-wb').innerHTML = (getXMLValue(xmlData, 'o-wb'));
}
setTimeout("newAJAXCommand('/cgi/xport?act=getstatus', updateStatus, true)",200);
setTimeout("newAJAXCommand('/cgi/xport?act=getparams', loadlists, false)",100);

-->
</script>
<div class="spacer">&nbsp;</div>
<div id="footer"><a href="http://topodrone.com/" target="_blank">http://topodrone.com<br>2023</a></div>
</div></div>


</body></html>